.main__contentBox__packetBox {
  width: 40vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  background-color: #675190;
  margin-right: 1px;

  &__title {
    color: white;
    font-size: 1.6rem;
  }

  &__offert {
    font-weight: 600;
    font-size: 0.7rem;
    color: white;
  }

  &__iconBox {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
  }

  &__btn {
    width: 70%;
    padding: 5px 0px;
    background-color: #4d3c6c;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__plus {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    align-self: center;
  }
}

@media only screen and (max-width: 1360px) {
  .main__contentBox__packetBox {
    height: 50vh;
  }
}

@media only screen and (max-width: 1100px) {
  .main__contentBox__packetBox {
    width: 95vw;
    margin: 0px 0px 1px 0px;
  }
}

@media only screen and (max-width: 550px) {
  .main__contentBox__packetBox__iconBox {
    flex-wrap: wrap;
    margin: 0px;
    justify-content: center;
  }
  .main__contentBox__packetBox {
    height: auto;
  }
  .main__contentBox__packetBox__plus {
    width: 100%;
    text-align: center;
  }
}
