.main__contentBox__videoSlider {
  width: 20vw;
  height: 20vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: #84b82a;

  &__top {
    width: 100%;
    height: 5vw;
    padding: 15px;
    background-color: #84b82a;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #84b82a;
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 8;
      transform: translateX(-50%);
    }
  }

  &__heading {
    font-size: 1.4rem;
  }

  &__viewers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.336);
  }

  &__viewersText {
    text-align: center;
    color: #d9e8c1;
    font-size: 0.6rem;
  }

  &__icon {
    height: 20px;
  }

  &__slider {
    height: 15vw;
  }
}

@media only screen and (max-width: 1360px) {
  .main__contentBox__videoSlider {
    height: 50vh;

    &__top {
      height: 10vh;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .main__contentBox__videoSlider {
    width: 95vw;
    margin: 0px 0px 1px 0px;
  }
}
