.main__contentBox__hugeBoxSlider {
  height: 40vh;
  margin-right: 2px;

  &__slide {
    color: white;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: no-repeat;
    background-size: cover;
    position: relative;

    &__header1 {
      padding: 20px 0px 0px 20px;
      font-size: 2rem;
    }

    &__bottom {
      position: absolute;
      bottom: 0px;
      left: 20px;

      &__header1 {
        font-size: 2.3rem;
      }
      &__halfText {
        display: flex;

        &__paragraph {
          font-size: 2.5rem;
        }

        &__paragraph--bigger {
          font-size: 1.5rem;
          font-weight: 300;
        }

        &__paragraph__span {
          color: #65508e;
          font-weight: 600;
        }

        &__paragraph__span--smallText {
          font-weight: 400;
        }

        &__priceHeader {
          font-size: 4.5rem;
          color: #aa2755;

          &__currency {
            font-size: 2.5rem;
          }
        }
      }

      &__iconBox {
        margin-bottom: 20px;
        display: flex;

        &__icoContainer {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.splide__pagination {
  left: auto !important;
  right: 0px !important;
  width: auto !important;
}
