main {
  width: 100%;
  background-color: #000000;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__contentBox {
  display: flex;
  margin-bottom: 2px;
}
