.header__hamburgerMenu {
  width: 35px;
  height: 20px;
  padding: 30px 20px;
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header__hamburgerMenu__line {
  width: 100%;
  height: 2px;
  background-color: white;
}
