.main__contentBox__threeBox__thirdBox {
  background-image: url("../../../../sources/imgs/thirdBoxBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__title {
    color: #675190;
    font-size: 1.7rem;
  }

  &__text {
    color: #757575;
    margin-top: 20px;
    font-size: 0.8rem;
    width: 90%;
    font-weight: 500;
  }

  &__icons {
    display: flex;
    position: absolute;
    bottom: 15px;
  }
  &__icon {
    height: 20px;

    &:nth-child(2) {
      margin: 0px 20px;
    }
  }
}
